@font-face {
  font-family: freight;
  src: url(/ASSETS/fonts/freight_text_bold-webfont.woff);
}
@font-face {
  font-family: winkle;
  src: url(/ASSETS/fonts/Winkle-Regular.ttf);
}
// Colores
$mainwhithe: #f1f1e6;
$mainblack: #242629;
$azul: #094067;

// Fonts
$freight: "freight", sans-serif;
$winkle: "winkle", sans-serif;

// Font sizes
